{% if inventory_hostname == groups['kube_control_plane'][0] %}
{% if k3s_etcd %}
cluster-init: true
{% endif %}
{% else %}
server: https://{{ hostvars[groups['kube_control_plane'][0]].ansible_hostname }}:6443
{% endif %}
{% if k3s_kubelet_args is defined %}
kubelet-arg:
{{ k3s_kubelet_args | to_nice_yaml(indent=2) }}
{%- endif %}
token-file: {{ k3s_token_file }}
{% if 'kube_control_plane' in group_names %}
{{ k3s_server_config | to_nice_yaml(indent=2) }}
{% endif %}
{% if node_ip is defined %}
node-ip: {{ node_ip }}
{% endif %}
{% if node_external_ip is defined %}
node-external-ip: {{ node_external_ip }}
{% endif %}